version:  "3.7"
services:
    mysql:
        image: mysql:5.7
        container_name: mysql_sp
        restart: on-failure
        environment:
            MYSQL_ROOT_PASSWORD: 12345
            MYSQL_DATABASE: symfony_project
        ports:
            - '3306:3306'
        volumes:
            - mysql-data:/var/lib/mysql

    nginx:
        image: nginx:1.15.3-alpine
        container_name: nginx_sp
        restart: on-failure
        depends_on:
            - php-fpm
        volumes:
            - ./public:/usr/src/app/public
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
        ports:
            - '8080:80'

    php-fpm:
        build:
            context: .
            dockerfile: docker/php/Dockerfile
        container_name: php_fpm_sp
        volumes:
            - ./:/usr/src/app
            - ./docker/php/xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
        restart: on-failure
        env_file:
            - .env
        links:
          - mysql

volumes:
    mysql-data:

