version:  "3.7"
services:
    mysql:
        image: mysql:8.0
        container_name: mysql_sp
        restart: on-failure
        command: --default-authentication-plugin=mysql_native_password
        environment:
            MYSQL_ROOT_PASSWORD: 12345
            MYSQL_DATABASE: symfony_project
        ports:
            - '3306:3306'
        volumes:
            - mysql-data:/var/lib/mysql

    nginx:
        image: nginx:1.15.3-alpine
        container_name: nginx_sp
        restart: on-failure
        depends_on:
            - php-fpm
        volumes:
            - './public:/usr/src/app/public'
            - './docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro'
        ports:
            - '8080:80'

    php-fpm:
        build:
            context: .
            dockerfile: docker/php/Dockerfile
        container_name: php_fpm_sp
        volumes:
            - './:/usr/src/app'
        restart: on-failure
        env_file:
            - .env
        user: 1000:1000

volumes:
    mysql-data:

